#mobile-margin {
  margin-right: 0;
}

#decoration {
  text-decoration: none;
}

#mobile-item {
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 4px;
}

.checkout-heading {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.order-summary {
  margin-bottom: 4rem;
  width: 340px;
}

.payment-width {
  width: 340px;
}

.order-heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}

.light-weight {
  font-weight: 300;
}

.order-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.order-img {
  position: relative;
  padding-top: 50%;
  flex: 0 0 40%;
}

.product-info {
  flex: 1;
}

#product-heading {
  font-weight: 500;
  font-size: 1.1rem;
}

.info {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2px;
}

.display {
  display: flex;
}

.minus-btn {
  background-color: #8b8b8d;
  color: #fff;
  border: none;
  padding: 3px 9px;
  font-size: 1.1rem;
}

.plus-btn {
  background-color: #8b8b8d;
  color: #fff;
  border: none;
  padding: 3px 9px;
  font-size: 1.1rem;
}

.qty-nr {
  width: 125px;
  padding: 3px 0 3px 3px;
}

.total-text {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.totals {
  font-weight: 600;
}

.headings {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}

.delivery-form,
.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  margin-top: 1.5rem;
}

.name-details {
  flex: 1 1 calc(50% - 13px);
  min-width: 163px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 300;
  border: solid 1.5px;
  border-radius: 2px;
}

.address-details,
.contact-details {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  font-weight: 300;
  border: solid 1.5px;
  border-radius: 2px;
}

input[type="checkbox"] {
  align-self: baseline;
  margin-right: 0;
}

input[type="checkbox"]:checked {
  accent-color: #000;
}

.contact label {
  font-size: 13px;
  width: 90%;
  font-weight: 500;
  line-height: 15px;
}

#consent {
  font-weight: 300;
}

.payment {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.payment-box {
  background-color: rgba(139, 139, 141, 0.2);
  border-radius: 5px;
  border: solid 1.5px;
  padding: 12px;
}

.payment-box label {
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

input[type="radio"] {
  border: 4.5px solid #000;
  appearance: none;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #fff;
  margin-right: 8px;
}

.card-container {
  justify-self: end;
  display: flex;
  gap: 5px;
}

.card-container img {
  height: auto;
  width: 35px;
}

.payment-form {
  display: grid;
  gap: 8px;
  margin-top: 12px;
}

.payment-form input[type="text"],
.payment-form input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-weight: 300;
  border: solid 1.5px;
  border-radius: 5px;
  font-size: 15px;
}

.number-wrapper {
  position: relative;
}

.number-wrapper input {
  padding-left: 30px;
}

.number-wrapper i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.exp-security {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 8px;
}

#charge {
  color: #df0404;
  margin-left: 5px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}

#charge i {
  margin-right: 5px;
  font-size: 1rem;
}

.checkout-btn {
  background-color: #000;
  color: #fff;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 312px;
  border-radius: 5px;
  border: transparent;
  margin-top: 1.5rem;
  display: block;
  text-align: center;
  text-decoration: none;
}

.checkout-btn i {
  margin-left: 6px;
}

.checkout-btn:hover,
.checkout-btn i:hover {
  background-color: #fff;
  color: #000;
  border: solid 1.5px #000;
}

.back {
  color: #000;
  text-align: center;
  display: block;
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.input-error {
  border: 2px solid red;
}

.free-shipping-message {
  font-size: 1rem;
  color: #ff5722;
  margin: 10px 0;
  text-align: right;
}

/* Media queries */
@media (min-width: 768px) {
  #mobile-item {
    display: none;
  }

  #desktop-item {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .checkout-heading,
  .payment-width {
    margin-left: 15px;
  }

  .checkout-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 150px;
    justify-content: flex-end;
  }

  .order-summary {
    flex: 1 1 50%;
    max-width: 600px;
  }

  .payment-width {
    flex: 1 1 50%;
    width: 480px;
  }

  #margin-top {
    margin-top: 1.5rem;
  }

  .back {
    text-align: start;
  }

  .btns {
    display: flex;
    align-items: baseline;
    gap: 25px;
    margin-top: 2.5rem;
  }

  .checkout-btn {
    margin-top: 0;
  }
}
