/* Fonts */
@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../assets/fonts/HelveticaNeueLight.otf) format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../assets/fonts/HelveticaNeueRoman.otf) format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../assets/fonts/HelveticaNeueMedium.otf) format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../assets/fonts/HelveticaNeueBold.otf) format('opentype');
  font-style: normal;
  font-weight: 700;
}

/* General styles */
body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #000;
  margin: 0;
  max-width: 2000px;
}

/* Header/navigation bar */
nav,
#nav-box {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: absolute;
  top: 4.8rem;
  width: 100%;
  background-color: #fff;
}

#nav-box:checked ~ nav {
  display: block;
}

nav a {
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  display: block;
}

#desktop-cart {
  display: none;
}

#mobile-cart {
  font-size: 1.5rem;
  color: #000;
  margin-right: 1rem;
  margin-top: 1.5rem;
}

.logo-container {
  display: flex;
  justify-content: center;
}

#logo {
  height: 55px;
  margin-top: 1.3rem;
}

header label {
  display: inline-grid;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.mobile-menu {
  font-size: 1.5rem;
}

.mobile-menu-text {
  font-size: 0.7rem;
  font-weight: 500;
  padding-top: 2px;
}

/* Media queries */
@media (min-width: 576px) {

}

/* Media queries */
@media (min-width: 768px) {
  header {
    justify-content: space-between;
  }

  nav {
    display: inline;
    position: relative;
    width: auto;
    top: 0;
  }

  #logo {
    margin-left: 2rem;
    margin-top: 1.3rem;
  }

  #nav-box,
  #mobile-cart {
    display: none;
  }

  header label {
    display: none;
  }
  
  #desktop-cart {
    display: contents;
    font-size: 1.1rem;
  }
  
  .navbar {
    margin-top: 2.5rem;
    margin-right: 1.2rem;
  }
  
  nav a {
    padding: 12px;
    display: inline;
  }
}