/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../assets/fonts/HelveticaNeueLight.otf) format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../assets/fonts/HelveticaNeueRoman.otf) format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../assets/fonts/HelveticaNeueMedium.otf) format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../../assets/fonts/HelveticaNeueBold.otf) format('opentype');
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.navbar {
  padding: 0;
  margin-top: 2rem;
  margin-right: 1.2rem;
}

.navbar li {
  display: inline;
  padding: 12px;
  font-size: 0.9rem;
}

li a {
  color: #000;
  text-decoration: none;
}

.fa-solid {
  font-size: 1.1rem;
}

#logo {
  height: 55px;
  margin-left: 1.3rem;
  margin-top: 0.7rem;
}