@import url("./about.css");
@import url("./checkout.css");
@import url("./checkout_success.css");
@import url("./contact.css");
@import url("./products.css");
@import url("./product_detail.css");

/* Fonts */
@font-face {
  font-family: "Helvetica Neue";
  src: url(../../assets/fonts/HelveticaNeueLight.otf) format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../../assets/fonts/HelveticaNeueRoman.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../../assets/fonts/HelveticaNeueMedium.otf) format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../../assets/fonts/HelveticaNeueBold.otf) format("opentype");
  font-style: normal;
  font-weight: 700;
}

/* General styles */
body {
  font-family: "Helvetica Neue", sans-serif;
  color: #000;
  margin: 0;
  max-width: 2000px;
}

.main-container {
  padding: 1rem;
}

.pages {
  font-size: 11px;
  color: #727273;
  font-weight: 300;
}

.active-page {
  text-decoration: underline;
}

/* Notification Box Styling */
.notification {
  position: absolute;
  right: 33px;
  padding: 14px 15px;
  color: #000;
  font-size: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease;
  z-index: 1000;
  border: solid 1px #000;
  top: 91px;
  background-color: rgba(255, 255, 255, 1);
}

.notification.visible {
  opacity: 1;
}

.notification.hidden {
  opacity: 0;
}

#product-name {
  font-weight: 600;
}

/* Header/navigation bar */
nav,
#nav-box {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  z-index: 9999;
  position: relative;
}

.border-btm {
  border-bottom: 2px solid rgba(0, 0, 0, 0.17);
}

header.active {
  background-color: #fff;
}

nav {
  position: absolute;
  top: 5.3rem;
  width: 100%;
  background-color: #fff;
  padding-top: 1rem;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
}

#nav-box:checked ~ nav {
  display: block;
}

nav a {
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  display: block;
  font-weight: 500;
  margin-left: 1rem;
}

#desktop-cart,
#desktop-item {
  display: none;
}

.mobile-cart {
  font-size: 1.5rem;
  color: #000;
  margin-top: 1.5rem;
}

#bag-count {
  font-size: 1.2rem;
  color: #000;
}

#underline {
  text-decoration: none !important;
  margin-right: 1rem;
}

#desktop-bag-count {
  display: none;
}

.logo-container {
  display: flex;
  justify-content: center;
}

#logo {
  height: 55px;
  margin-top: 1.3rem;
}

header label {
  display: inline-grid;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.mobile-menu {
  font-size: 1.5rem;
}

.mobile-menu-text {
  font-size: 0.7rem;
  font-weight: 500;
  padding-top: 2px;
}

.menu {
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
}

.on-page {
  text-decoration: underline;
  text-underline-offset: 2px;
}

nav span:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.nav-chevron {
  -webkit-text-stroke: 0.9px #fff;
  margin-right: 1rem;
}

/* Hero section */
.hero-container {
  height: 90vh;
}

.hero-image {
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0px;
  height: 100%;
  object-fit: cover;
  object-position: -140px;
}

.hero-text {
  z-index: 999;
  position: relative;
  top: 9.5rem;
  text-align: center;
  left: 27vw;
  width: 70%;
}

.hero-text h1 {
  font-size: 5.333vw;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.hero-text p {
  margin: 0;
  margin-bottom: 9px;
  font-size: 3.3vw;
}

/* Home */
.collections-container {
  text-align: center;
}

.collections-heading {
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.btn-container {
  margin-top: 1rem;
  display: inline-grid;
}

.collections-btn {
  border: 1.5px solid #000;
  padding: 13px 2.5rem;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.collections-btn:hover {
  color: #fff;
  background-color: #000;
}

.padding {
  padding: 13px 3rem;
}

.row {
  display: flex;
  margin-top: 1.4rem;
  overflow: hidden;
}

.column {
  flex: 33.33%;
}

.collections-img {
  width: 33.49vw;
}

.collections-img3 {
  width: 33.26vw;
}

.bestsellers-container {
  margin: 4rem 0 6rem 0.8rem;
}

.heading {
  letter-spacing: 0;
}

.bestsellers {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 10px 10px 0;
  scrollbar-width: thin;
}

.column-bestsellers {
  flex: 0 0 auto;
  width: 240px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-bg,
.product-img {
  width: 100%;
}

.product-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.column-bestsellers .all-height {
  width: 90%;
  left: auto;
}

.img-styling {
  width: 80%;
  left: auto;
}

.all-size {
  width: 120%;
  left: auto;
}

.bestsellers-btns {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  padding: 8px 18px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2px;
  z-index: 2;
  width: max-content;
  border: solid;
}

.bestsellers-btns:hover {
  color: #fff;
  background-color: #000;
  border: #000;
}

#fleece-btn {
  padding: 9px 35px;
}

/* Footer */
footer {
  border-top: 2px solid rgba(0, 0, 0, 0.17);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reverse-position {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footer-logo {
  height: 100px;
  margin-bottom: 1.8rem;
  margin-top: 1rem;
}

.footer-links {
  display: none;
}

.footer-socials {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 1.6rem;
}

.footer-socials a {
  font-size: 1.8rem;
  color: #000;
}

.footer-socials a:hover {
  font-size: 2rem;
}

.newsletter {
  text-align: center;
}

.footer-socials h3 {
  margin-right: 1rem;
}

.newsletter h3,
.footer-socials h3 {
  text-transform: uppercase;
}

.newsletter p {
  font-weight: 300;
  margin-bottom: 1.5rem;
  width: 80%;
  margin: auto;
}

.display-table {
  display: inline-table;
}

#email {
  height: 28px;
  padding-left: 1rem;
  padding-top: 6px;
  margin-top: 1.3rem;
  border: solid 1px;
  border-radius: 2px;
}

.submit-btn {
  background-color: #000;
  border-radius: 3px;
  padding: 5px 16px 7px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #8b8b8d;
}

.submit-chevron {
  color: #fff;
  font-size: 1.4rem;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 1.9rem;
}

.copyright-text {
  font-size: 9px;
  font-weight: 300;
  margin-left: 10px;
  color: #5a5858;
}

.policy-text {
  font-size: 8px;
  font-weight: 300;
  display: flex;
  gap: 10px;
}

.policy-text a {
  color: #666668;
  text-decoration: none;
}

#margin {
  margin-bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.17);
}

/* Media queries */
@media (min-width: 576px) {
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }

  .collections-container {
    margin-top: 2.5rem;
  }

  .collections-heading {
    font-size: 1.7rem;
  }

  .btn-container {
    margin-top: 2.3rem;
    display: block;
    margin-bottom: 3.8rem;
  }

  .margin {
    margin-left: 1rem;
  }

  .collections-btn {
    font-size: 1.2rem;
  }

  .add-btn {
    max-width: 555px;
  }
}

/* Media queries */
@media (min-width: 768px) {
  /* Header/navigation bar */
  header {
    justify-content: space-between;
  }

  nav {
    display: inline;
    position: relative;
    width: auto;
    top: 0;
    margin-top: 2.5rem;
    margin-right: 1.2rem;
    box-shadow: none;
    padding-top: 0;
    background-color: transparent;
  }

  .on-page {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }

  .menu {
    display: inline;
  }

  #logo {
    margin-left: 2rem;
    margin-top: 1.3rem;
  }

  #nav-box,
  a .mobile-cart,
  #bag-count {
    display: none;
  }

  header label {
    display: none;
  }

  #desktop-cart {
    display: contents;
    font-size: 1.3rem;
  }

  #desktop-bag-count {
    display: contents;
  }

  #desktop-item {
    display: contents;
  }

  nav a {
    padding: 14px;
    display: inline;
    margin-left: 0;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .nav-chevron.fa-solid {
    display: none;
  }

  .menu {
    padding-bottom: 0;
  }

  /* Hero section */
  .hero-image {
    object-position: center;
  }

  .hero-text {
    top: 12rem;
    left: 36%;
    width: 60%;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text p {
    font-size: 1.3rem;
  }

  /* Home */
  .collections-heading {
    font-size: 1.9rem;
  }

  .collections-container {
    margin-top: 2.8rem;
  }

  .column-bestsellers {
    width: 320px;
  }

  .bestsellers-btns {
    bottom: 150px;
    font-size: 1.3rem;
    padding: 10px 25px;
  }

  #fleece-btn {
    left: 50%;
    padding: 11px 45px;
  }

  /* Footer */
  footer form {
    width: fit-content;
  }

  .footer-links {
    display: grid;
    width: 20%;
    margin-bottom: 3.3rem;
  }

  .footer-links a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    padding-bottom: 8px;
  }

  .footer-container {
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .footer-logo {
    margin-left: 1rem;
    margin-top: 2.8rem;
  }

  .reverse-position {
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 100%;
    justify-content: flex-end;
  }

  .footer-socials {
    display: inline;
    width: 30%;
    margin-top: 0;
    margin-bottom: 4.4rem;
  }

  .footer-socials a {
    font-size: 1.4rem;
    text-decoration: none;
  }

  footer h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0;
  }

  .newsletter {
    text-align: left;
    width: 40%;
  }

  .newsletter p {
    width: auto;
    font-size: 14px;
    margin: 0;
    height: 38px;
  }

  #email {
    width: 140px;
  }

  .copyright {
    gap: 4rem;
    padding: 10px;
  }
}

@media (min-width: 998px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.4rem;
  }

  .collections-btn {
    font-size: 1.3rem;
  }

  footer h3 {
    font-size: 17px;
  }

  .footer-links a {
    font-size: 14px;
  }

  .footer-socials a {
    font-size: 1.7rem;
  }

  #email {
    width: 200px;
  }

  .text-content {
    width: 80%;
  }
}
